################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RomSetManager/bin/Debug
/RomSetManager/obj/Debug
/RomSetManager/Configuration/bin/Debug
/RomSetManager/Configuration/obj/Debug
*.suo
*.suo
/.vs/RomSetManager/v15/.suo

/Configuration/bin/Debug
/Configuration/obj/Debug
/Configuration/bin/Debug
/Model/bin/Debug
/Model/obj/Debug
/Testrunner
/Testrunner/bin/Debug
/Testrunner/obj/Debug
